
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.project__section{
    position: relative;
    min-height: 100vh;
    padding: 4rem 2rem 1rem;
}

.project__article{
    max-width: 100%;
    margin: auto;
    margin-top: 6.25rem;
    display: flex;
    justify-content: center;
    perspective: 62.5rem;
    flex-wrap: wrap;
}

.project__article--h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__container{
    margin: 1.25rem;
    perspective: 62.5rem;
}

.project__container:hover .project__card{
    transform: rotateY(-180deg);
}

.project__card{
    width: 21.875rem;
    height: 15rem;
    position: relative;
    transform-style: preserve-3d;
    transition: all 3.5s;
    border: 2px solid #00abf0;
    border-radius: .625rem;
}

.global__face{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-color: #112e42;
    border-radius: .625rem;
}

.project__card--back{
    transform: rotateY(-180deg);
}

.project__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.project__h3{
    margin-top: 1rem;
    font-size: 1.6rem;
    transform: translateZ(3rem);
}

.project__img{
    border-radius: .625rem .625rem 0 0;
    opacity: 0.8;   
}

.project__info{    
    width: 100%;
    height: 100%;
}

.project__info--front{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-shadow: .0625rem .0625rem #00abf0;
}

.project__info--back{
    padding: 1rem;
    text-align: center;
    transform:translateZ(3rem);
}

.project__h4{
    font-size: 1.4rem;
    margin: 0.5rem;
}
.project__p{
    font-size: 0.8rem;
    text-align: center;

}

.global__btn--box{
    width: 20rem;
    height: 3.2rem;
    margin-bottom: 1rem;
}

.global__btn{
    letter-spacing: .1rem;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 9.4rem;
    height: 100%;
    background-color: var(--main-color);
    border: 0.15rem solid var(--main-color);
    border-radius: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.global__btn:hover{
    color: var(--main-color);
}

.global__btn:nth-child(2){
    background-color: transparent;
    color: var(--main-color);
}

.global__btn:nth-child(2):hover{
    color: var(--bg-color);
}

.global__btn:nth-child(2)::before{
    content: '';
    background-color: var(--main-color);
}

.global__btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.global__btn:hover:before{
    content: '';
    width: 100%;
}

.project__btn{
    height: 2.5rem;
}